* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary__color:rgb(165, 24, 24);
}

body {
    height: 100vh;
    background-color: #dadada;
    display: flex;
}

.wrapper {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    --columns: 4;
    --spacing: 25px;    
    transform: translate(-25px, -25px);
    -webkit-transform: translate(-25px, -25px);
    -moz-transform: translate(-25px, -25px);
    -ms-transform: translate(-25px, -25px);
    -o-transform: translate(-25px, -25px);
}

@media screen and (max-width: 767px) {
    .wrapper {
        --columns: 2;
        --spacing: 15px;
    }    
}
@media screen and (max-width: 767px) {
    .wrapper {
        --columns: 1;
        --spacing: 10px;
    }   
}

.image {
    width: calc(100% / var(--columns) - var(--spacing));
    height: 200px;
    margin-left: var(--spacing);  
    margin-top: 20px;
    overflow: hidden;
    border-radius: 4px;    
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    cursor: pointer;
}

.image:hover img{
	transform: scale(1.2);
}

.gallery {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transform: scale(0.8);
}

.gallery.show {
	opacity: 1;
	pointer-events: auto;
	transform: scale(1);
}

.close {
    top: 15px;
    right: 25px;
    font-size: 35px;   
    position: fixed;
    color: white;
    cursor: pointer;
}

.control {
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
	font-size: 50px;
    cursor: pointer;      
}

.prev {
    left: 25px;    
}

.next {
    right: 25px;    
}

.gallery-inner {
	width: 70%;
	height: 70%;
    margin: auto;
    background-color: aliceblue;
}

.gallery-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.hide {
    display: none;
}